/* .MuiPaper-root {
    overflow-x: initial !important;
}
.MuiTableCell-body {
    position: relative;
}
.checkbox {
    width: 19px;
    position: absolute;
    left: -11px;
} */
.MuiTableCell-alignLeft {
    padding-left: 3px !important;
}
.title {
    width: 200px;
}
.editButton {
    background-color: teal !important;
}
.pagination {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li.active{
    font-weight: bold;
}
.archivebutton {
    background-color:  aquamarine !important;
}